@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Monoton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

:root {
  font-size: 62.5%;

  --bg-color: #272727;
  --primary-color: #aa91d8;
  --white-color: rgb(255, 255, 255);
  --hover-color: rgb(120, 190, 106);
}

body {
  background-color: var(--bg-color);
  display: grid;
  font-family: "Dela Gothic One", cursive;
  font-family: sans-serif;
  min-height: 100vh;
  place-items: center;
  text-align: center;
}

.content__title {
  border-radius: .3rem;
  border: 1px solid var(--white-color);
  color: var(--primary-color);
  font-size: 2.4rem;
  padding: 2rem;
}

.content__img {
  border-radius: .6rem;
  max-height: 500px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .content__img {
    max-width: 800px;
  }
}

.content__txt {
  color: var(--white-color);
  font-family: "Poppins", cursive;
}

.content__btn {
  background-color: var(--primary-color);
  border-radius: .3rem;
  border: none;
  color: var(--white-color);
  font-family: "Dela Gothic One", cursive;
  font-size: 1.4rem;
  height: 5vh;
  outline: none;
  transition: all 400ms ease-in-out;
  width: 28rem;
}

.content__btn:hover {
  background-color: #736099;
  color: var(--hover-color);
}

.content__btn--icon {
  padding-right: .5rem;
}

.content__img--details {
  border-radius: .3rem;
  color: var(--white-color);
  font-family: "Poppins", cursive;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-decoration: none;
}

.content__img--details a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: lowercase;
}

.content__img--details a:hover {
  color: var(--hover-color);
}